/*css for index yo */

/*css documentation */
html, body { width: 100%; height: 100%;}
html, body, h1, h2, h3, ul, li, p, a, span, img {
  padding: 0;
  margin: 0;
  border: 0;
}

#page00 {
  background: #FBEAD3;
  position: fixed;
  height: 50%;
  width: 100%;
  background-image: url("images/hbd_banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#steph img {
  border-radius: 50%;
}

#page01 {
  background: #F7C9CF;
  position: absolute;
  height: 200%;
  top: 50%;
  width: 100%;
}

#page01-h2 {
  width: 960px;
  height: 50px;
  margin: 0 auto;
  padding-left: 60px;
   /*border: 2px dotted red;*/
  margin-top: 30px;
}

#page02 {
  background: #D3F8FB;
  position: absolute;
  height: 30%;
  top: 250%;
  width: 100%;
}

#page02 ul {
  margin: 0 45%;
  line-height: 35px;
  font-size: 20px;
  margin-top: 50px;

}

#page01 ul {
  width: 1020px;
  height: 800px;
  margin: 0 auto;
  /* border: 2px dotted red;*/
  margin-top: 0px;
}

#page01 ul li {
  float: left;
  margin-left: 60px;
  position: relative;
  margin-top: 60px;
  overflow: hidden;
}

.container-box {
   position: absolute;
   width: 20%;
   height: 100%;
   left: 40%;
}
.container-box #steph {
   border:3px solid #FBC2C3;
   position: relative;
}

.container-box #steph img {
  width: 100%;
  height: auto;
}
